In [9]:
import pandas as pd

data = '../../datasets/Dataset_dummy_v2.csv'

data_sampah = pd.read_csv(data)

jumlah_sampah_per_tahun = data_sampah

# Konversi kolom tanggal menjadi tipe data datetime dengan format bulan/tanggal/tahun
jumlah_sampah_per_tahun['tanggal'] = pd.to_datetime(jumlah_sampah_per_tahun['tanggal'], format='%m/%d/%Y')

# Membuat kolom baru untuk mengelompokkan kolom tanggal berdasarkan tahun
jumlah_sampah_per_tahun['tahun'] = jumlah_sampah_per_tahun['tanggal'].dt.to_period('Y')

# Mengelompokan tahun dan kecamatan, kemudian hitung jumlah sampah
grup_tahun_kecamatan = jumlah_sampah_per_tahun.groupby(['tahun', 'kecamatan']).agg({
    'jumlah_sampah': 'sum'
}).reset_index()

# Mencari kecamatan dengan jumlah sampah terbanyak di setiap tahun
max_sampah_tahun = grup_tahun_kecamatan.groupby('tahun')['jumlah_sampah'].idxmax()

# Ambil baris kecamatan dengan jumlah sampah terbanyak
kecamatan_terbanyak = grup_tahun_kecamatan.loc[max_sampah_tahun]

# Mengitung total sampah pada setiap tahun
total_sampah_tahunan = jumlah_sampah_per_tahun.groupby('tahun')['jumlah_sampah'].sum()

# Menggabungkan kecamatan_terbanyak dengan total_sampah_tahunan berdasarkan kolom tahun
tahunan = pd.merge(kecamatan_terbanyak, total_sampah_tahunan, on='tahun', suffixes=('_terbanyak', '_total'))

tahunan

  tahun         kecamatan  jumlah_sampah_terbanyak  jumlah_sampah_total
0  2016       Panyileukan                    647.7              17742.3
1  2017         Rancasari                    918.6              24418.8
2  2018  Cibeunying Kidul                   1257.0              35401.9
3  2019  Cibeunying Kaler                   1457.2              39967.1
4  2020          Gedebage                   1674.8              45285.2
5  2021     Sumur Bandung                   1733.2              48252.9
6  2022     Bandung Wetan                   1835.3              50397.2
7  2023          Gedebage                   1743.1              47549.2